
.my_skills {
  margin-left: 10%;
  margin-right: 10%;

  .container {
    .skills_intro {
      max-width: 600px;
      margin-left: auto;
      margin-right: auto;
    }

    .skills {
      display: flex;
      flex-wrap: wrap;

      .skill {
        flex: 0 0 auto;
        width: calc(100% / 8);
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .my_skills > .container > .skills > .skill{
    width: calc(100% / 5);
  }
}

@media screen and (max-width: 600px) {
  .my_skills > .container > .skills > .skill{
    width: calc(100% / 3);
  }
}